html {
  height: 100%;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu menu menu"
    "left article right"
    "footer footer footer";
  grid-template-rows: 25% 5% 1fr 10%;
  grid-template-columns: 20% 1fr 20%;
  height: 100%;
}

header, footer, article, nav, div, menu {
  /* background: lightGrey; */
  border: solid;
}

#pageHeader {
  grid-area: header;
  background-image: url("images/header.jpg");
  background-size: 100% 100%;
}

#menu {
  grid-area: menu;
}

.menu-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

#pageFooter {
  grid-area: footer;
}

#mainArticle {
  grid-area: article;
}

#left {
  grid-area: left;
}

#right {
  grid-area: right;
}

/* Stack the layout on small devices/viewports. */
@media only screen and (hover: none) and (pointer: coarse){
  body {
    grid-template-areas:
      "header"
      "menu"
      "article"
      "left"
      "right"
      "footer";
    grid-template-rows: 25%  5% 1fr 10% 10% 5%;
    grid-template-columns: 1fr;
  }
}